---
title: Streamfield
quote: Hiya
---

<div class="sidebar"></div>

<div class="main">

    <div class="wagtail-field">
        <div class="section-header">
            <div class="title">Standard Wagtail field</div>
        </div>
    </div>

    <div class="section-wrapper">

        <div class="section-header">
            <div class="title">Streamfield</div>
            <div class="collapse">
                <a href="#" class="btn btn-collapse">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
                    </style>
                    <title>chevron-collapse-diagonally-alt</title>
                    <polyline class="st0" points="14.5,21.5 14.5,14.5 21.5,14.5 "/>
                    <polyline class="st0" points="9.5,2.5 9.5,9.5 2.5,9.5 "/>
                    </svg>
                    Collapse all
                </a>
                <a href="#" class="btn btn-expand">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
                    </style>
                    <title>chevron-collapse-diagonally-alt</title>
                    <polyline class="st0" points="18.5,11.5 18.5,18.5 11.5,18.5 "/>
                    <polyline class="st0" points="4.5,11.5 4.5,4.5 11.5,4.5 "/>
                    </svg>
                    Expand all
                </a>
            </div>
        </div>

        <div class="streamfield-wrapper">
            <div class="streamfield">
                {{> streamfield-block-heading}}
                {{> streamfield-block-text}}
                {{> streamfield-block-img}}
                {{> streamfield-block-event}}
                {{> streamfield-block-quote-blank}}
                {{> streamfield-block-quote}}
                {{> streamfield-block-multi-page-teaser-blank}}
                {{> streamfield-block-img}}
                {{> streamfield-block-event}}
                {{> streamfield-block-text}}
                {{> streamfield-block-img}}
                {{> streamfield-block-substreams}}
            </div>
        </div>

    </div>

    <div class="wagtail-field">
        <div class="section-header">
            <div class="title">Standard Wagtail field</div>
        </div>
    </div>

</div>


