<div class="streamfield-block-wrapper">

    <div class="streamfield-block sb-event" draggable="true">
        <div class="type-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
            </svg>
        </div>
        <div class="type-name">Substreams</div>
        <div class="actions">
            <img src="../assets/images/actions.png" alt="actions">
        </div>

        <div class="streamfield-block-content">
            <div class="field-group">
                <label>Heading</label>
                <input type="text" name="name" placeholder="Heading">
            </div>


            <div class="streamfield nested">

                {{> streamfield-nested-heading}}

                <div class="streamfield-block-wrapper">

                    <div class="streamfield-block" draggable="true">
                        <div class="type-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                            </svg>
                        </div>
                        <div class="type-name">Substream block</div>
                        <div class="actions">
                            <img src="../assets/images/actions.png" alt="actions">
                        </div>

                        <div class="streamfield-block-content">

                            <div class="field-group">
                                <label>Page</label>
                                <a href="#" class="btn btn-with-icon">
                                    <div class="btn-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                                          <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                                        </svg>
                                    </div>
                                    <div class="btn-text">Choose a page</div>
                                </a>
                            </div>
                            <div class="field-group">
                                <label>Title</label>
                                <input type="text" name="name" placeholder="Title">
                            </div>
                            <div class="field-group">
                                <label>Link title</label>
                                <input type="text" name="name" placeholder="Link title">
                            </div>

                            <div class="streamfield nested nested-nested">
                                {{> streamfield-nested-heading}}
                                {{> streamfield-block-img}}
                                {{> streamfield-block-img}}
                            </div>

                        </div>

                        <div class="abstract">table-dressing.jpg</div>

                    </div>

                    {{> add}}
                    {{> streamfield-menu}}

                </div>

                <div class="streamfield-block-wrapper">

                    <div class="streamfield-block">
                        <div class="type-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                            </svg>
                        </div>
                        <div class="type-name">Substream block</div>
                        <div class="actions">
                            <img src="../assets/images/actions.png" alt="actions">
                        </div>

                        <div class="streamfield-block-content">

                            <div class="field-group">
                                <label>Page</label>
                                <a href="#" class="btn btn-with-icon">
                                    <div class="btn-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                                          <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                                        </svg>
                                    </div>
                                    <div class="btn-text">Choose a page</div>
                                </a>
                            </div>
                            <div class="field-group">
                                <label>Title</label>
                                <input type="text" name="name" placeholder="Title">
                            </div>
                            <div class="field-group">
                                <label>Link title</label>
                                <input type="text" name="name" placeholder="Link title">
                            </div>

                            <div class="streamfield nested nested-nested">
                                {{> streamfield-nested-heading}}
                                {{> streamfield-block-img}}
                                {{> streamfield-block-img}}
                            </div>

                        </div>

                        <div class="abstract">table-dressing.jpg</div>

                    </div>

                    {{> add}}
                    {{> streamfield-menu}}

                </div>

                <div class="streamfield-block-wrapper">

                    <div class="streamfield-block" draggable="true">
                        <div class="type-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                            </svg>
                        </div>
                        <div class="type-name">Substream block</div>
                        <div class="actions">
                            <img src="../assets/images/actions.png" alt="actions">
                        </div>

                        <div class="streamfield-block-content">

                            <div class="field-group">
                                <label>Page</label>
                                <a href="#" class="btn btn-with-icon">
                                    <div class="btn-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                                          <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                                        </svg>
                                    </div>
                                    <div class="btn-text">Choose a page</div>
                                </a>
                            </div>
                            <div class="field-group">
                                <label>Title</label>
                                <input type="text" name="name" placeholder="Title">
                            </div>
                            <div class="field-group">
                                <label>Link title</label>
                                <input type="text" name="name" placeholder="Link title">
                            </div>

                            <div class="streamfield nested nested-nested">
                                {{> streamfield-nested-heading-default}}

                                <div class="streamfield-menu active">

                                    <div class="menu-title">Choose a block</div>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.3 33.6">
                                              <path d="M15 25.7v1.9H6v-1.9l2.7-.6v-17L6 7.5V5.7l9-.2v1.9L12 8v7h10.5V8.1l-3-.6V5.7l9-.2v1.9l-2.7.6v17l2.7.6v1.9h-9v-1.9l3-.6v-7.6H12V25l3 .7z"/>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Heading</div>
                                    </a>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100">
                                              <path d="M20 19h56.5v7H20zM20 38.08h56.5v7H20zM20 57.17h56.5v7H20zM20 76.25h36.5v7H20z"/>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Paragraph</div>
                                    </a>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                                              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Image</div>
                                    </a>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.67 52.13">
                                              <g data-name="Layer 2">
                                                <path d="M58.55 52.13H5.13A5.13 5.13 0 0 1 0 47V5.13A5.13 5.13 0 0 1 5.13 0h53.42a5.13 5.13 0 0 1 5.13 5.13V47a5.13 5.13 0 0 1-5.13 5.13zM5.13 4A1.13 1.13 0 0 0 4 5.13V47a1.13 1.13 0 0 0 1.13 1.13h53.42A1.13 1.13 0 0 0 59.67 47V5.13A1.13 1.13 0 0 0 58.55 4z"/>
                                                <path d="M12.08 43.46h39.51A1.69 1.69 0 0 0 53 40.77l-5.45-7.4a1.69 1.69 0 0 0-2.55-.22l-5.6 5.33-13-17.65a1.69 1.69 0 0 0-2.78.08l-13 19.94a1.69 1.69 0 0 0 1.46 2.61z"/>
                                                <circle cx="44.13" cy="15.12" r="5.93"/>
                                              </g>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Image grid</div>
                                    </a>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                              <path d="M43.5 80.4s3.4 0 3.4-3.4v-5.1c0-3.4-3.4-3.4-3.4-3.4-8.8-.6-16.3-6.1-19.9-13.7H35c4.7 0 8.5-3.8 8.5-8.5V29.1c0-4.7-3.8-8.5-8.5-8.5H17.9c-4.7 0-8.5 3.8-8.5 8.5v17.1c0 18.9 15.2 34.2 34.1 34.2zm42.7 0s3.4 0 3.4-3.4v-5.1c0-3.4-3.4-3.4-3.4-3.4-8.8-.6-16.3-6.1-19.9-13.7h11.3c4.7 0 8.5-3.8 8.5-8.5V29.1c0-4.7-3.8-8.5-8.5-8.5h-17c-4.7 0-8.5 3.8-8.5 8.5v17.1c0 18.9 15.3 34.2 34.1 34.2z" fill-rule="evenodd" clip-rule="evenodd"/>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Quote</div>
                                    </a>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.67 52.13">
                                              <g data-name="Layer 2">
                                                <path d="M58.55 52.13H5.13A5.13 5.13 0 0 1 0 47V5.13A5.13 5.13 0 0 1 5.13 0h53.42a5.13 5.13 0 0 1 5.13 5.13V47a5.13 5.13 0 0 1-5.13 5.13zM5.13 4A1.13 1.13 0 0 0 4 5.13V47a1.13 1.13 0 0 0 1.13 1.13h53.42A1.13 1.13 0 0 0 59.67 47V5.13A1.13 1.13 0 0 0 58.55 4z"/>
                                                <path d="M12.08 43.46h39.51A1.69 1.69 0 0 0 53 40.77l-5.45-7.4a1.69 1.69 0 0 0-2.55-.22l-5.6 5.33-13-17.65a1.69 1.69 0 0 0-2.78.08l-13 19.94a1.69 1.69 0 0 0 1.46 2.61z"/>
                                                <circle cx="44.13" cy="15.12" r="5.93"/>
                                              </g>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Embed</div>
                                    </a>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100">
                                              <path d="M20 19h56.5v7H20zM20 38.08h56.5v7H20zM20 57.17h56.5v7H20zM20 76.25h36.5v7H20z"/>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Embed with text</div>
                                    </a>
                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.67 52.13">
                                              <g data-name="Layer 2">
                                                <path d="M58.55 52.13H5.13A5.13 5.13 0 0 1 0 47V5.13A5.13 5.13 0 0 1 5.13 0h53.42a5.13 5.13 0 0 1 5.13 5.13V47a5.13 5.13 0 0 1-5.13 5.13zM5.13 4A1.13 1.13 0 0 0 4 5.13V47a1.13 1.13 0 0 0 1.13 1.13h53.42A1.13 1.13 0 0 0 59.67 47V5.13A1.13 1.13 0 0 0 58.55 4z"/>
                                                <path d="M12.08 43.46h39.51A1.69 1.69 0 0 0 53 40.77l-5.45-7.4a1.69 1.69 0 0 0-2.55-.22l-5.6 5.33-13-17.65a1.69 1.69 0 0 0-2.78.08l-13 19.94a1.69 1.69 0 0 0 1.46 2.61z"/>
                                                <circle cx="44.13" cy="15.12" r="5.93"/>
                                              </g>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Gallery</div>
                                    </a>
                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                                              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Multi page teaser</div>
                                    </a>
                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                                              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Featured page</div>
                                    </a>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                                              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Featured person</div>
                                    </a>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.67 52.13">
                                              <g data-name="Layer 2">
                                                <path d="M58.55 52.13H5.13A5.13 5.13 0 0 1 0 47V5.13A5.13 5.13 0 0 1 5.13 0h53.42a5.13 5.13 0 0 1 5.13 5.13V47a5.13 5.13 0 0 1-5.13 5.13zM5.13 4A1.13 1.13 0 0 0 4 5.13V47a1.13 1.13 0 0 0 1.13 1.13h53.42A1.13 1.13 0 0 0 59.67 47V5.13A1.13 1.13 0 0 0 58.55 4z"/>
                                                <path d="M12.08 43.46h39.51A1.69 1.69 0 0 0 53 40.77l-5.45-7.4a1.69 1.69 0 0 0-2.55-.22l-5.6 5.33-13-17.65a1.69 1.69 0 0 0-2.78.08l-13 19.94a1.69 1.69 0 0 0 1.46 2.61z"/>
                                                <circle cx="44.13" cy="15.12" r="5.93"/>
                                              </g>
                                            </svg>
                                        </div>
                                        <div class="btn-text">School</div>
                                    </a>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                                              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Sponsor</div>
                                    </a>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.67 52.13">
                                              <g data-name="Layer 2">
                                                <path d="M58.55 52.13H5.13A5.13 5.13 0 0 1 0 47V5.13A5.13 5.13 0 0 1 5.13 0h53.42a5.13 5.13 0 0 1 5.13 5.13V47a5.13 5.13 0 0 1-5.13 5.13zM5.13 4A1.13 1.13 0 0 0 4 5.13V47a1.13 1.13 0 0 0 1.13 1.13h53.42A1.13 1.13 0 0 0 59.67 47V5.13A1.13 1.13 0 0 0 58.55 4z"/>
                                                <path d="M12.08 43.46h39.51A1.69 1.69 0 0 0 53 40.77l-5.45-7.4a1.69 1.69 0 0 0-2.55-.22l-5.6 5.33-13-17.65a1.69 1.69 0 0 0-2.78.08l-13 19.94a1.69 1.69 0 0 0 1.46 2.61z"/>
                                                <circle cx="44.13" cy="15.12" r="5.93"/>
                                              </g>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Social icons</div>
                                    </a>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                                              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Featured event</div>
                                    </a>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.67 52.13">
                                              <g data-name="Layer 2">
                                                <path d="M58.55 52.13H5.13A5.13 5.13 0 0 1 0 47V5.13A5.13 5.13 0 0 1 5.13 0h53.42a5.13 5.13 0 0 1 5.13 5.13V47a5.13 5.13 0 0 1-5.13 5.13zM5.13 4A1.13 1.13 0 0 0 4 5.13V47a1.13 1.13 0 0 0 1.13 1.13h53.42A1.13 1.13 0 0 0 59.67 47V5.13A1.13 1.13 0 0 0 58.55 4z"/>
                                                <path d="M12.08 43.46h39.51A1.69 1.69 0 0 0 53 40.77l-5.45-7.4a1.69 1.69 0 0 0-2.55-.22l-5.6 5.33-13-17.65a1.69 1.69 0 0 0-2.78.08l-13 19.94a1.69 1.69 0 0 0 1.46 2.61z"/>
                                                <circle cx="44.13" cy="15.12" r="5.93"/>
                                              </g>
                                            </svg>
                                        </div>
                                        <div class="btn-text">People</div>
                                    </a>

                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.67 52.13">
                                              <g data-name="Layer 2">
                                                <path d="M58.55 52.13H5.13A5.13 5.13 0 0 1 0 47V5.13A5.13 5.13 0 0 1 5.13 0h53.42a5.13 5.13 0 0 1 5.13 5.13V47a5.13 5.13 0 0 1-5.13 5.13zM5.13 4A1.13 1.13 0 0 0 4 5.13V47a1.13 1.13 0 0 0 1.13 1.13h53.42A1.13 1.13 0 0 0 59.67 47V5.13A1.13 1.13 0 0 0 58.55 4z"/>
                                                <path d="M12.08 43.46h39.51A1.69 1.69 0 0 0 53 40.77l-5.45-7.4a1.69 1.69 0 0 0-2.55-.22l-5.6 5.33-13-17.65a1.69 1.69 0 0 0-2.78.08l-13 19.94a1.69 1.69 0 0 0 1.46 2.61z"/>
                                                <circle cx="44.13" cy="15.12" r="5.93"/>
                                              </g>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Call to action</div>
                                    </a>
                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.67 52.13">
                                              <g data-name="Layer 2">
                                                <path d="M58.55 52.13H5.13A5.13 5.13 0 0 1 0 47V5.13A5.13 5.13 0 0 1 5.13 0h53.42a5.13 5.13 0 0 1 5.13 5.13V47a5.13 5.13 0 0 1-5.13 5.13zM5.13 4A1.13 1.13 0 0 0 4 5.13V47a1.13 1.13 0 0 0 1.13 1.13h53.42A1.13 1.13 0 0 0 59.67 47V5.13A1.13 1.13 0 0 0 58.55 4z"/>
                                                <path d="M12.08 43.46h39.51A1.69 1.69 0 0 0 53 40.77l-5.45-7.4a1.69 1.69 0 0 0-2.55-.22l-5.6 5.33-13-17.65a1.69 1.69 0 0 0-2.78.08l-13 19.94a1.69 1.69 0 0 0 1.46 2.61z"/>
                                                <circle cx="44.13" cy="15.12" r="5.93"/>
                                              </g>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Download</div>
                                    </a>
                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100">
                                              <path d="M20 19h56.5v7H20zM20 38.08h56.5v7H20zM20 57.17h56.5v7H20zM20 76.25h36.5v7H20z"/>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Key stats</div>
                                    </a>
                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.67 52.13">
                                              <g data-name="Layer 2">
                                                <path d="M58.55 52.13H5.13A5.13 5.13 0 0 1 0 47V5.13A5.13 5.13 0 0 1 5.13 0h53.42a5.13 5.13 0 0 1 5.13 5.13V47a5.13 5.13 0 0 1-5.13 5.13zM5.13 4A1.13 1.13 0 0 0 4 5.13V47a1.13 1.13 0 0 0 1.13 1.13h53.42A1.13 1.13 0 0 0 59.67 47V5.13A1.13 1.13 0 0 0 58.55 4z"/>
                                                <path d="M12.08 43.46h39.51A1.69 1.69 0 0 0 53 40.77l-5.45-7.4a1.69 1.69 0 0 0-2.55-.22l-5.6 5.33-13-17.65a1.69 1.69 0 0 0-2.78.08l-13 19.94a1.69 1.69 0 0 0 1.46 2.61z"/>
                                                <circle cx="44.13" cy="15.12" r="5.93"/>
                                              </g>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Featured product</div>
                                    </a>
                                    <a href="#" class="btn btn-with-icon">
                                        <div class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100">
                                              <path d="M20 19h56.5v7H20zM20 38.08h56.5v7H20zM20 57.17h56.5v7H20zM20 76.25h36.5v7H20z"/>
                                            </svg>
                                        </div>
                                        <div class="btn-text">Newsletter signup</div>
                                    </a>

                                </div>

                            </div>

                        </div>

                        <div class="abstract">table-dressing.jpg</div>

                    </div>

                    {{> add}}
                    {{> streamfield-menu}}

                </div>

            </div>

        </div>

        <div class="abstract">Substreams demo</div>

        {{> help}}

    </div>

    {{> add}}
    {{> streamfield-menu}}

</div>

