<div class="streamfield-block-wrapper">

    <div class="streamfield-block" draggable="true">
        <div class="type-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.67 52.13">
              <g data-name="Layer 2">
                <path d="M58.55 52.13H5.13A5.13 5.13 0 0 1 0 47V5.13A5.13 5.13 0 0 1 5.13 0h53.42a5.13 5.13 0 0 1 5.13 5.13V47a5.13 5.13 0 0 1-5.13 5.13zM5.13 4A1.13 1.13 0 0 0 4 5.13V47a1.13 1.13 0 0 0 1.13 1.13h53.42A1.13 1.13 0 0 0 59.67 47V5.13A1.13 1.13 0 0 0 58.55 4z"/>
                <path d="M12.08 43.46h39.51A1.69 1.69 0 0 0 53 40.77l-5.45-7.4a1.69 1.69 0 0 0-2.55-.22l-5.6 5.33-13-17.65a1.69 1.69 0 0 0-2.78.08l-13 19.94a1.69 1.69 0 0 0 1.46 2.61z"/>
                <circle cx="44.13" cy="15.12" r="5.93"/>
              </g>
            </svg>
        </div>
        <div class="type-name">Text</div>
        <div class="actions">
            <img src="../assets/images/actions.png" alt="actions">
        </div>

        <div class="streamfield-block-content">
            <input type="text" name="name" placeholder="Standard input">
        </div>

        <div class="abstract">This is the abstract.</div>

        {{> help}}

    </div>

    {{> add}}

</div>

