<div class="streamfield-block-wrapper">

    <div class="streamfield-block sb-heading" draggable="true">
        <div class="type-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.3 33.6">
              <path d="M15 25.7v1.9H6v-1.9l2.7-.6v-17L6 7.5V5.7l9-.2v1.9L12 8v7h10.5V8.1l-3-.6V5.7l9-.2v1.9l-2.7.6v17l2.7.6v1.9h-9v-1.9l3-.6v-7.6H12V25l3 .7z"/>
            </svg>
        </div>
        <div class="type-name">Heading</div>
        <div class="actions">
            <img src="../assets/images/actions.png" alt="actions">
        </div>

        <div class="streamfield-block-content">
            <input class="heading" type="text" name="name" placeholder="Enter main heading" value = "NHS Wagtail Sprint">
        </div>

        <div class="abstract">NHS Wagtail Sprint</div>

        {{> help}}

    </div>

    {{> add}}
    {{> streamfield-menu}}

</div>

