<div class="streamfield-block-wrapper">

    <div class="streamfield-block sb-event" draggable="true">
        <div class="type-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
            </svg>
        </div>
        <div class="type-name">Multi page teaser</div>
        <div class="actions">
            <img src="../assets/images/actions.png" alt="actions">
        </div>

        <div class="streamfield-block-content">
            <div class="field-group">
                <label>Heading</label>
                <input type="text" name="name" placeholder="Heading">
            </div>


            <div class="streamfield nested">

                {{> streamfield-nested-heading}}

                <div class="streamfield-block-wrapper">

                    <div class="streamfield-block" draggable="true">
                        <div class="type-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                            </svg>
                        </div>
                        <div class="type-name">Teaser</div>
                        <div class="actions">
                            <img src="../assets/images/actions.png" alt="actions">
                        </div>

                        <div class="streamfield-block-content">

                            <div class="field-group">
                                <label>Page</label>
                                <a href="#" class="btn btn-with-icon">
                                    <div class="btn-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                                          <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                                        </svg>
                                    </div>
                                    <div class="btn-text">Choose a page</div>
                                </a>
                            </div>
                            <div class="field-group">
                                <label>Title</label>
                                <input type="text" name="name" placeholder="Title">
                            </div>
                            <div class="field-group">
                                <label>Link title</label>
                                <input type="text" name="name" placeholder="Link title">
                            </div>

                        </div>

                        <div class="abstract">table-dressing.jpg</div>

                    </div>

                    {{> add-teaser}}
                    {{> streamfield-menu}}

                </div>

                <div class="streamfield-block-wrapper">

                    <div class="streamfield-block" draggable="true">
                        <div class="type-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                            </svg>
                        </div>
                        <div class="type-name">Teaser</div>
                        <div class="actions">
                            <img src="../assets/images/actions.png" alt="actions">
                        </div>

                        <div class="streamfield-block-content">

                            <div class="field-group">
                                <label>Page</label>
                                <a href="#" class="btn btn-with-icon">
                                    <div class="btn-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                                          <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                                        </svg>
                                    </div>
                                    <div class="btn-text">Choose a page</div>
                                </a>
                            </div>
                            <div class="field-group">
                                <label>Title</label>
                                <input type="text" name="name" placeholder="Title">
                            </div>
                            <div class="field-group">
                                <label>Link title</label>
                                <input type="text" name="name" placeholder="Link title">
                            </div>

                        </div>

                        <div class="abstract">table-dressing.jpg</div>

                    </div>

                    {{> add-teaser}}
                    {{> streamfield-menu}}

                </div>

                <div class="streamfield-block-wrapper">

                    <div class="streamfield-block" draggable="true">
                        <div class="type-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                              <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                            </svg>
                        </div>
                        <div class="type-name">Teaser</div>
                        <div class="actions">
                            <img src="../assets/images/actions.png" alt="actions">
                        </div>

                        <div class="streamfield-block-content">

                            <div class="field-group">
                                <label>Page</label>
                                <a href="#" class="btn btn-with-icon">
                                    <div class="btn-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 36">
                                          <path d="M14.6 0H2C.9 0 0 .9 0 2v32c0 1.1.9 2 2 2h26c1.1 0 2-.9 2-2V15.4c0-.5-.2-1-.6-1.4L16 .6c-.4-.4-.9-.6-1.4-.6zM2 33.5v-31c0-.3.2-.5.5-.5H14c.3 0 .5.2.5.5v11c0 1.1.9 2 2 2h11c.3 0 .5.2.5.5v17.5c0 .3-.2.5-.5.5h-25c-.3 0-.5-.2-.5-.5z"/>
                                        </svg>
                                    </div>
                                    <div class="btn-text">Choose a page</div>
                                </a>
                            </div>
                            <div class="field-group">
                                <label>Title</label>
                                <input type="text" name="name" placeholder="Title">
                            </div>
                            <div class="field-group">
                                <label>Link title</label>
                                <input type="text" name="name" placeholder="Link title">
                            </div>

                        </div>

                        <div class="abstract">table-dressing.jpg</div>

                    </div>

                    {{> add-teaser}}
                    {{> streamfield-menu}}

                </div>

            </div>

        </div>

        <div class="abstract">Multi page teaser</div>

        {{> help}}

    </div>

    {{> add}}
    {{> streamfield-menu}}

</div>

