<div class="streamfield-block-wrapper">

    <div class="streamfield-block sb-text" draggable="true">
        <div class="type-icon">
            <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100">
              <path d="M20 19h56.5v7H20zM20 38.08h56.5v7H20zM20 57.17h56.5v7H20zM20 76.25h36.5v7H20z"/>
            </svg>
        </div>
        <div class="type-name">Text</div>
        <div class="actions">
            <img src="../assets/images/actions.png" alt="actions">
        </div>

        <div class="streamfield-block-content">
            <img class="richtext" src="../assets/images/richtext.png" alt="actions">
            <textarea class="text" rows="4">The NHS is strongly committed to Wagtail. 90% of nhs.uk is now running on Wagtail, after what has been described as 'probably the UK government's biggest content migration'. This week we're hosting some of the team who work on this massive, important site.
            </textarea>
        </div>

        <div class="abstract">The NHS is strongly committed to Wagtail. 90% of nhs.uk is now running on Wagtail...</div>

        {{> help}}


    </div>

    {{> add}}

    {{> streamfield-menu}}

</div>

